<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
  <!-- 									Bootstrap & jQuery & font-awesome 							-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>  

</head>
<body>
	<div class="container">
		<div class="row main col-sm-12">
			<h1 class="text-danger text-center">회원 가입에 실패하였습니다</h1>
			<h1 class="text-danger text-center">아이디 중복을 확인해주세요</h1>	
			<form action="./account.php" style="text-align: -webkit-center;">
			<button type="submit" class="btn btn-info" >다시 가입 화면으로</button>
			</form>
			<br />
			<form action="../../index.php" style="text-align: -webkit-center;">
			<button type="submit" class="btn btn-info" >처음 화면으로</button>
			</form>
		</div>
	</div>
</body>
</html>